---
import Card from "../components/Card.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Frontend Mentor | Order summary card">
	<main class="mx-6 grid min-h-screen place-content-center md:m-0">
		<Card />
	</main>
</Layout>
