<div class="mx-auto max-w-sm rounded-3xl bg-white drop-shadow-lg md:w-96">
	<img src="/images/illustration-hero.svg" class="rounded-t-3xl" alt="illustration-hero" />
	<div class="p-6 text-center">
		<h1 class="pb-4 text-3xl font-bold">Order Summary</h1>
		<p class="pb-4 text-DesaturatedBlue">
			You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you
			like!
		</p>
		<div class="mb-4 flex justify-between rounded-2xl bg-VeryPaleBlue p-4">
			<img src="/images/icon-music.svg " alt="icon music" />
			<div class="-ml-10 flex flex-col">
				<span class="font-bold">Annual Plan</span>
				<span class="text-DesaturatedBlue">$59.99/year</span>
			</div>
			<button
				class="font-bold text-BrightBlue underline transition-colors duration-300 hover:text-opacity-80"
			>
				Change
			</button>
		</div>
		<button
			class="w-full cursor-pointer rounded-2xl bg-BrightBlue p-4 font-bold text-white shadow-lg shadow-[#3829e086] transition-colors duration-300 hover:bg-BrightBlue hover:bg-opacity-80"
		>
			Proceed to Payment
		</button>
		<button
			class="mt-6 w-full cursor-pointer font-bold text-DesaturatedBlue transition-colors duration-300 hover:text-DarkBlue"
		>
			Cancel Order
		</button>
	</div>
</div>
